body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 305px;
}
.game__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.game__info {
  max-width: 310px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.game__title {
  height: 80px;
  color: #fff;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  padding-bottom: 15px;
}
.game__realise-date {
  font-size: 15px;
  font-weight: 400;
}
.game__description {
  color: #b7bacd;
  font-size: 13px;
  padding-bottom: 40px;
  line-height: 20px;
}
.game__rating {
  width: 67px;
  height: 67px;
  border: 1px solid #b7bacd;
  border-radius: 50%;
  position: relative;
}
.game__rating-svg {
  position: absolute;
  bottom: -2px;
  right: -2px;
}
.game__rating-number {
  font-size: 20px;
  color: #b7bacd;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 130px;
  padding: 0 15px;
}
.offer__button {
  background-color: #13e28d;
  width: 165px;
  height: 55px;
  color: white;
  border: none;
  border-radius: 3px;
}
.offer__discount {
  font-size: 12px;
  font-weight: 700;
  color: #ffdd3f;
}
.offer__price {
  font-size: 28px;
  color: #fff;
}

.star {
  width: 18px;
  height: 18px;
}

.game-card {
  margin: 25px;
}