.frame{
    width: 200px;
    padding: 5px;
    border: 1px solid #000;
    position: relative;
    
}

.resize{
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: purple;
    border-radius: 50%;
}