*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #232222;
}

main{
    display: flex;
    width: 100%;
    max-width: 900px;
    min-height: 50px;
    flex-wrap: wrap;
    justify-content: space-around;

}

.task{
    min-width: 19%;
    margin-bottom: 15px;
}

.btn {
    border: none;
    background-image: linear-gradient(135deg, #f8fafc, #db1231);
    border-radius: 6px;
    color: #eae2e2;
    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
}


.btn .btn-span {
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

.btn:hover .btn-span {
    background: transparent;
    color: #232222;
}

@media screen  and (max-width: 920px){
    main {
        width: 90%;
    }
    .task {
        min-width: 30%;
    }
    .btn{
        width: 100%;
    }
}


@media screen  and (max-width: 610px){
    .task {
        min-width: 60%;
    }
    .task:first-child{
        margin-top: 25px;
    }

}
