.table{
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 100px auto;
    border: 1px solid #000;
    border-spacing: 5px;
}

th{
    background-color: #e9e9e9;
}
td{
    background: #6f77e9;
    color: #fff;

} 