.container{
    max-width: 500px;
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

.box__sum{
    font-size: 20px;
    outline: none;
}

.currency{
    font-size: 21px;
    outline: none;
}

.box__result{
    font-size: 20px;
}